 body {
        background-color: black;
        margin: 10px;
        font-family: monospace;
    }

    .container {
        color: rgb(27, 160, 31)
    }

    .dot {
        animation: blink 1s infinite;
    }

    @keyframes blink {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }